<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liulangzheli.ecwitkeyplus.system.mapper.SysUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, nickname, phone, gender, head, remark, state, department_id, role_id, deleted, user_type,province,city,zone,address,id_num,id_front,id_back,license_id,license_pic,version, create_time, update_time
    </sql>

    <select id="getSysUserById" resultType="com.liulangzheli.ecwitkeyplus.system.vo.SysUserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where deleted = 0 and id = #{id}
    </select>

    <select id="getSysUserPageList" resultType="com.liulangzheli.ecwitkeyplus.system.vo.SysUserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where><!-- 某些为空时用来组装语句 -->
            deleted = 0
            <if test="param.id != null">
                AND id=#{param.id}
            </if><if test="param.username != null">
                AND username=#{param.username}
            </if>
            <if test="param.nickname != null">
                AND nickname=#{param.nickname}
            </if>
            <if test="param.gender != null">
                AND gender=#{param.gender}
            </if>
            <if test="param.state != null">
                AND state=#{param.state}
            </if>
            <if test="param.userType != null">
                AND user_type=#{param.userType}
            </if>
            <if test="param.isService != null">
                AND is_service=#{param.isService}
            </if>
            <if test="param.email != null">
                AND email=#{param.email}
            </if>
        </where>
    </select>

</mapper>
