<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liulangzheli.ecwitkeyplus.ecwitkey.mapper.OrderBiddingMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, user_id, create_time, state, message, remark
    </sql>

    <select id="getOrderBiddingById" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.OrderBiddingQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_bidding where id = #{id}
    </select>

    <select id="getOrderBiddingByOrderId" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.OrderBiddingInfoQueryVo">
        select
        ob.id, ob.order_id, ob.user_id, ob.create_time, ob.state, ob.message, ob.remark,po.user_id owner_id,po.state orderState,su.nickname,su.username,su.city,su.intro,su.head,su.state userState
        from order_bidding ob,sys_user su,project_order po
        where ob.user_id=su.id and ob.order_id=po.id and ob.order_id = #{orderId}
    </select>

    <select id="getOrderBiddingListByUserIdAndOrderId" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.OrderBiddingInfoQueryVo">
        select
        ob.id, ob.order_id, ob.user_id, ob.create_time, ob.state, ob.message, ob.remark,po.user_id owner_id,(select username from sys_user where id=po.user_id) ownerName,po.state orderState,(select cate_name from category where id =po.use_type) projTypeName,(select cate_name from category where id =po.category_id) cateName,po.amount,po.period,po.end_time endTime,po.soft_supplier softSupplier,po.soft_name softName,su.nickname,su.username,su.city,su.intro,su.head,su.state userState
        from order_bidding ob,sys_user su,project_order po
        where ob.user_id=su.id and ob.order_id=po.id
        <if test="param.orderId!=null">
            and ob.order_id = #{param.orderId}
        </if>
        <if test="param.userId!=null">
            and ob.user_id = #{param.userId}
        </if>
        <if test="param.ownerId!=null">
            and po.user_id = #{param.ownerId}
        </if>
        <if test="param.orderState!=null">
            and po.state = #{param.orderState}
        </if>
        <if test="param.orderStates!=null">
            and po.state <![CDATA[<>]]> #{param.orderStates}
        </if>
        <if test="param.orderStatesList!=null">
            and po.state in
            <foreach item="item" index="index" collection="param.orderStatesList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        ORDER by ob.create_time DESC
    </select>

    <select id="getOrderBiddingPageList" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.OrderBiddingQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_bidding
        ORDER by create_time DESC
    </select>

</mapper>
