<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liulangzheli.ecwitkeyplus.ecwitkey.mapper.ProjectOrderMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, create_time, pay_time, examine_time, pick_time, check_time, use_type, category_id, major, province, city, zone, end_time, amount, period, soft_supplier, soft_name, intro, state, remark
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="User_And_Base_Column_List">
        m.id, m.user_id, m.create_time, m.pay_time, m.examine_time, m.pick_time, m.check_time, m.use_type,(select cate_name from category where id=m.use_type) as projTypeName, m.category_id,(select cate_name from category where id=m.category_id) as cateName, m.major, m.province, m.city, m.zone, m.end_time, m.amount, m.period, m.soft_supplier, m.soft_name, m.intro, m.state, m.remark, s.nickname,s.username, s.user_type, s.company_name, s.license_id, s.id_num
    </sql>

    <select id="getProjectOrderById" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.ProjectOrderQueryVo">
        select
        <include refid="Base_Column_List"/>
        from project_order where id = #{id}
    </select>

    <select id="getProjectOrderByUserId" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.ProjectOrderUserQueryVo">
        select
        <include refid="User_And_Base_Column_List"/>
        from project_order m,sys_user s where m.user_id=s.id
        <if test="param.state != null">
            AND m.user_id = #{param.userId}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getProjectOrderUserById" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.ProjectOrderUserQueryVo">
        select
        <include refid="User_And_Base_Column_List"/>
        from project_order m,sys_user s where m.user_id=s.id and m.id = #{id}
    </select>

    <select id="getProjectOrderPageList" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.ProjectOrderQueryVo">
        select
        <include refid="Base_Column_List"/>
        from project_order
        <where><!-- 某些为空时用来组装语句 -->
            1 = 1
            <if test="param.state >= 0">
                AND state=#{param.state}
            </if>
            <if test="param.states != null">
                AND state &lt;&gt; #{param.states}
            </if>
            <if test="param.major != null">
                AND major like concat('%',#{param.major},'：%')
            </if>
            <if test="param.keyword != null">
                AND major like concat('%',#{param.keyword},'%')
            </if>
            ORDER BY create_time DESC
        </where>
    </select>

    <select id="getProjectOrderPageListCount" resultType="com.liulangzheli.ecwitkeyplus.ecwitkey.vo.ProjectOrderQueryVo">
        select
        count(id)
        from project_order
        <where><!-- 某些为空时用来组装语句 -->
            1 = 1
            <if test="param.state != null">
                AND state=#{param.state}
            </if>
        </where>
    </select>

</mapper>
